.navbar {
    background-color: #a04cd8;
    padding-left: 20px;
}

.quem-somos {
    background-color: rgb(219, 230, 240);
    padding: 50px;
}

#quem-somos img {
    margin: 20px;
}

.parceiros {
    background-color: rgb(182, 207, 123);
    padding: 50px;
}

#parceiros .img {
    margin: 20px;
}

.servicos {
    padding: 50px;
}

#servicos .img {
    margin-top: 20px;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
}

footer a {
    text-decoration: none;
    font-style: italic;
    color: white;
}

footer p {
    margin: 0px;
}